<link rel='stylesheet' href='/stylesheets/mycss.css'/>
 <h1>This is the list of all user submitted games! </h1>
<p>
<%error = "Your list seems to be empty"%>
<%#binding.pry%>
<%=error if @games == []%>
</p>
<% @games.each do |game|%>
   <p><b>Title: </b> <%= name = game.name%>
   <b>Genre: </b> <%= genre = game.genre%>
   <b>Value: </b> $<%= price = game.price%> 
<a href='/games/delete/<%=name%>/<%=genre%>/<%=price%>' class = 'greenButton'>Delete</a>
<% end %><br/>
<br/>
<a href="/games/new" class='mybutton'>Add New Game(s)</a>
<br/>
<br/>

