<link rel='stylesheet' href='/stylesheets/mycss.css'/>
 <h1>This is the list of all the games you have stored.</h1>
<p>
<p style=color:red'><%=@error%></p>
<%error = "Your list seems to be empty"%>
<%#binding.pry%>
<%=error if @games == []%>
</p>
<% @games.each do |game|%>
   <p><b>Title: </b> <%= name = game.name%>
   <b>Genre: </b> <%= genre = game.genre%>
   <b>Value: </b> <%= price = game.price%> 
   <!--
   <form method="post" action="games/<%=game.id%>/edit">
   <input id="hidden" type="hidden" name="_method" value="edit">
   <input type= "Submit" value="Edit" class="greenButton">
   </form> -->
   <a href= '/games/<%=game.id%>/edit'>Edit</a>
  <form method="post" action="/games/<%=game.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete" class="greenButton">
</form> 
<% end %><br/>
<br/>
<a href="/games/new" class='mybutton'>Add New Game(s)</a>
<br/>
<br/>

